body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

.logo-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}

.creds {
  width: 10%;
}

.backbtn {
  width: 46%;
}

h4 {
  width: fit-content;
  width: 40%;
  flex: 1;
}

h3 {
  font-weight: 300;
  align-items: center;
}

a {
  font-weight: 800;
  text-decoration: none;
  color: white;
}

li {
  text-transform: uppercase;
}

img {
  height: 23px;
}

ul {
  list-style: none;
  text-decoration: none;
}
