body {
  background-color: black;
  color: white;
  font-family: "Poppins", sans-serif;
}

.logo-container {
  width: 90%;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: black;
}

.creds {
  width: 10%;
}

.backbtn {
  width: 46%;
}

h4 {
  width: fit-content;
  width: 40%;
  flex: 1;
}

.title{
  font-size: 2em;
  font-weight: 800;
}

h3 {
  font-weight: 300;
  align-items: center;
}

a {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
}

a {
  position: relative;
  display: inline-block;
  font-size: 2em;
  font-weight: 800;
  color: royalblue;
  overflow: hidden;
  background: linear-gradient(to right, #40E0D0, #FF8C00 50%, #FF0080 50%);
}

a {
  /* Same as before */
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-size: 200% 100%;
  background-position: 100%;
}

a {
  /* Same as before */
  transition: background-position 275ms ease;
}
a:hover {
  background-position: 0 100%;
}

li {
  text-transform: uppercase;
}

img {
  height: 23px;
}

ul a{
  font-weight: 800;
  font-size: 2em;
}

ul {
  list-style: none;
  text-decoration: none;
}
